body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font: 5vmin "Arial", sans-serif;
}

.circle {

    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, white, blue);
}